<header class="main-header">

  <a href="index2.html" class="logo">
    <span class="logo-mini">
      <b>ADM</b>
    </span>

    <span class="logo-lg">
      <b>Admin</b>
    </span>
  </a>

  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
      <p style="color: white;">
        fernando.jose@viavarejo.com.br - Admin |
        <button>SAIR</button>
      </p>
    </div>
  </nav>

</header>